@import '~antd/dist/antd.less'; // Import Ant Design styles
@import '~antd/lib/style/themes/default.less';

@primary-color: #04f; // change antd primary-color

.layout {
  min-height: 100vh;
}

.header {
  background-color: #fff;
}

// .site-layout-content {
//   min-height: 280px;
//   padding: 24px;
//   background: #fff;
// }

.logo {
  // max-height: 34px;
  // max-width: 34px;
  // float: left;
  // width: 120px;
  // height: 31px;
  // margin: 16px 24px 16px 0;
  // background-image: url('/logo.png');
  // background: rgba(255, 255, 255, 0.3);
}
