@root-entry-name: default;
// @import '~antd/dist/antd.less'; // Import Ant Design styles
// @import '~antd/lib/style/themes/default.less';
// @import (reference) '~antd/es/style/themes/index';
// @import '~@ant-design/aliyun-theme/index.less';
// @import "./theme.less";

// Variables
// @primary-color: #04f; // change antd primary-color
// @layout-body-background: #ffffff;
// @layout-body-background: #f3f4f7;
@layout-body-background: #fafafa;
@layout-header-background: #ffffff;
@layout-footer-background: @layout-body-background;
@layout-header-height: 72px;

@font-size-sm: 14px;
@font-size-base: 14px;

// General
.ant-card-meta-title {
  margin-bottom: 0 !important;
}

// .ant-card-meta {
//   margin-top: 5px;
// }

.ant-divider-horizontal {
  margin: 18px 0;
}

.ant-statistic-title {
  // text-transform: uppercase;
  // font-variant: 'all-small-caps';
  color: #6e6e6e;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 300;
}

.ant-divider-inner-text {
  font-size: 13px;
  color: #8e8e8e;
  font-weight: 400;
}

.ant-statistic-content-value {
  color: #4b4b4b;
}

// .notary-cards {
// align-items: flex-start;
// }

.notary-card {
  display: contents;
}

.ant-card-body {
  background-color: #ffffff;
}

.ant-card-meta-title {
  font-size: 16px;
}

.ant-card-meta {
  margin-bottom: 18px;
  margin-top: 0px;
}

.ant-card-meta-description {
  color: #8e8e8e;
}

.card-stats > .ant-card-body {
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-stats .ant-statistic-content {
  font-size: 0.9rem;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.logo {
  margin-right: 10px;
}

.ant-card.verifier-card {
  border-color: #e2e2e2;
  border-style: double;
}

.ant-divider-inner-text {
  padding: 0 0.4em;
}

// .ant-card-head-wrapper {
//   padding-top: 16px;
// }

// .ant-card-extra {
//   display: contents;
// }
